color1 {
	color: #A00000;
}

color2 {
	color: #707070;
}

color3 {
	color: #F0F0F0;
}

color4 {
	color: black;
}

div.chain{
padding: 0px;
font-family: Arial;
margin-top:-20px;
margin-bottom:-20px;
margin-left:14.5%;
margin-right: 18.5%;
}


.problem {
font-size:20px;
font-family:Arial;
letter-spacing:0px;
text-align: center;
border: 3px solid #A00000;
padding:8px;
border-radius: 8px;
margin-top:18px;
background-color: #F0F0F0;
}

#accordion {
margin-left: 18.5%;
margin-right: 18.5%;

}
.chaininfo {
font-family: Arial;
}
#accordion span.title {
font-family: courier;
font-weight: bold;
color: #A00000;
font-size:24px;
letter-spacing: -1px;
display: inline-block;
}

#accordion span.score {
color: #707070;
font-family: Impact;
font-size: 24px;
display: inline-block;
float: right;	
}

#accordion span.author {
font-family: Arial;
letter-spacing: 0px;
color: black;
font-size: 18px;
display: block;
}
.builders {
width: 18.5%;
text-align: center;
margin-top: 4%;
float: left;
}

.solvers {
width: 18.5%;
text-align: center;
margin-top: 4%;
float: right;
}

.ranks {
text-align: center;
font-size: 24px;
font-family: lucida console;

}

body {
  color: black;
  font-family: Arial;
}

body>header,section {
  margin-top: 1.5%;
  margin-bottom: 0%;
  margin-left: 18.5%;
  margin-right: 18.5%; 
}

#banner {

border-bottom: 4px solid #A00000;
font-family: lucida console;
width: 34%;
margin-left: auto;
margin-right: auto;
margin-bottom: 1.5%;
text-align: center;
font-size: 75px;
color: #A00000;
letter-spacing: -11px;

}

#hub,#login {
font-family: Monospace;
font-size: 15px;
top: 5px;
position: absolute;
right: 20px;
}

#hub {
width: 17%;
}


.forum {
  font-size: 107%;
  padding: 3%;
  padding-top: .5%;
}
p#thread {
  padding: 5px;
  padding-top: 10px;
  padding-bottom: 10px;
  border: 1px solid black;
  border-radius: 10px;  
}
#post {
  border: 1px solid white;
}
#responses {
  margin-bottom: 2%;
  padding: 1%;
}
#responses p {
  margin-left: 7%;
}
.top>a {
  text-decoration: none;
  color: black;  
}
#crucial {
  color: #B00000 !important;
}

#register{
font-size: 25px;
padding: 3px;
position: absolute;
top: 10px;
left: 7%;
font-family: Monospace;
color: black;
}

#editZone {
	margin-top: -25px;
	margin-left: 20px;
}

#expos,#statement {
	float: left;
	width: 48%;
}

#preview_expos,#preview_statement {
	float: right;
	width: 47.5%;
	word-wrap: break-word;
}

textarea {
	font-family: Monospace;
	font-size: 16px;
}

.area { /* a borderless section */
	padding: 0px;
	font-family: Arial;
	margin-top:-20px;
	margin-bottom:-20px;
	margin-left:18.5%;
	margin-right: 18.5%;
}

section {
  border: 2.5px solid #A00000 !important;
  border-radius: 10px;
  padding-right: 15px;
  background-color: #F0F0F0;
}

div.box {
	border: 2.5px solid #A00000;
	background-color: #F0F0F0;
	border-radius: 5px;
	padding: 10px;
	margin-bottom: 8px;
	width: 40%;
}

.problem_description {
  float: center;
  border: 2.5px solid #A00000 !important;
    border-radius: 10px;
  margin: 0px 20%;
  margin-top: 2%;
  padding: 5px;
}
.problem_description>p,div,ul {
  font-family: Garamond; 
  color: black;
  text-align: left;
}
#answer {
  text-align: center;
}

label {
	display: block;
	float: left;
}

h1 {
	font-weight: normal;
	font-family: Arial;
	color: #A00000;
	font-size: 36px;
	letter-spacing: -2px;
}
h3.chain{
display: block;
}

h2.question {
  font-family: Monospace;
  font-size: 20px;
  font-weight: normal;
  color: #A00000;
  letter-spacing: -2px;
}

h3 {
  font-family: Arial;
  font-weight: normal;
  color: black;
  font-size: 36px;
  letter-spacing: -2px;
}

h4 {
  font-family: Monospace;
  font-size: 20px;
  color: #A00000;
  font-weight: normal;
  letter-spacing: -2px;
}

h5 {
  color: #707070;
  font-family: Arial;
  font-weight: normal;
  font-size: 20px;
}
table {
  font-family: monospace;
  font-size: 125%;
  border-collapse: collapse;
}

table.chain {
  width: 100%;
}

#dish {
	font-family: lucida console;
	font-size: 250%;
	cell-spacing:0;
	border: 0 !important;
	margin-left: auto;
	margin-right: auto;
}

td.dish{
	border: 0;
	padding:0;
	background-color: white;
}

td#username {
	letter-spacing: -2px;
	
}


#star {
  border: 0;
  background-color: white;
  text-align: right;
  width: 20px;
}
td#rank {
	font-family: Impact;
	font-size: 45px;
}

.oddrow {
  background-color: white;
}
.evenrow {
  background-color: #F0F0F0 ;
}
th, td {
  border: 1px solid #A00000;
  text-align: center; 
  padding: 10px;
}

td.title {
text-align: left;
height: 30px;
}

td.number {
height: 30px;
width: 80px;
}
td#id {
width: 40px;
}
td {
  font-family: Arial;
}
th {
  font-family: courier;
  background-color: #959595;
  color: #A00000;
  font-size: 20px;

}
a {
  text-decoration: none;
  color: black; 
}
form[name='register'] {
  margin-left: 45%;
  margin-right: 45%;
}

#contents {
width: 600px;
margin: 8px auto 25px auto;
text-align: center;
padding: 5px 10px 5px 50px;
margin-bottom: 3%;
}	
li.top {
  font-family: Monospace;
  font-size: 25px;
  color: black;
  letter-spacing: -2px;
  display: inline;
  margin-right: 40px;
}
