color1 {
	color: #A00000;
}

color2 {
	color: #A00000;
}

color3 {
	#F0F0F0;
}
body {
  color: black;
  font-family: Arial;
}

body>header,section {
  margin-top: 1.5%;
  margin-bottom: 0%;
  margin-left: 12.5%;
  margin-right: 12.5%; 
}

#banner {

border-bottom: 4px solid #A00000;
font-family: Monospace;
width: 34%;
margin-left: auto;
margin-right: auto;
margin-bottom: 1.5%;
text-align: center;
font-size: 75px;
color: #A00000;
letter-spacing: -11px;

}

#hub,#login {
font-family: Monospace;
font-size: 15px;
top: 10px;
position: absolute;
left: 85%;
width: 250px;

}
.forum {
  font-size: 107%;
  padding: 3%;
  padding-top: .5%;
}
p#thread {
  padding: 5px;
  padding-top: 10px;
  padding-bottom: 10px;
  border: 1px solid black;
  border-radius: 10px;  
}
#post {
  border: 1px solid white;
}
#responses {
  margin-bottom: 2%;
  padding: 1%;
}
#responses p {
  margin-left: 7%;
}
.top>a {
  text-decoration: none;
  color: black;  
}
#crucial {
  color: #B00000 !important;
}

#register{
font-size: 25px;
padding: 3px;
position: absolute;
top: 10px;
left: 80px;
font-family: Monospace;
color: black;
}

#editZone {
	margin-top: -25px;
	margin-left: 20px;
}

#expos,#statement {
	float: left;
	width: 48%;
}

#preview_expos,#preview_statement {
	float: right;
	width: 47.5%;
	word-wrap: break-word;
}

textarea {
	font-family: Monospace;
	font-size: 16px;
}

.area { /* a borderless section */
	padding: 0px;
	font-family: Arial;
	margin-top:-20px;
	margin-bottom:-20px;
	margin-left:18.5%;
	margin-right: 18.5%;
}

section {
  border: 2.5px solid #A00000 !important;
  border-radius: 10px;
  padding-right: 15px;
  background-color: #F0F0F0;
}

div.box {
	border: 2.5px solid #A00000;
	background-color: #F0F0F0;
	border-radius: 5px;
	padding: 10px;
	margin-bottom: 8px;
	width: 40%;
}

.problem_description {
  float: center;
  border: 2.5px solid #A00000 !important;
    border-radius: 10px;
  margin: 0px 20%;
  margin-top: 2%;
  padding-left: 2%;
  padding-right: 2%;
}
.problem_description>p,div,ul {
  font-family: Garamond; 
  color: black;
  text-align: left;
}
#answer {
  text-align: center;
}

label {
	display: block;
	float: left;
}

h1 {
	font-weight: normal;
	font-family: Arial;
	color: #A00000;
	font-size: 36px;
	letter-spacing: -2px;
}

h2.question {
  font-family: Monospace;
  font-size: 20px;
  font-weight: normal;
  color: #A00000;
  letter-spacing: -2px;
}

h4 {
  font-family: Monospace;
  font-size: 20px;
  color: #A00000;
  font-weight: normal;
  letter-spacing: -2px;
}
table {
  font-family: monospace;
  font-size: 125%;
  border: 4px solid #A00000; !important;
  border-radius: 10px;
  border-collapse: collapse;
}

#dish {
	font-family: Helvetica;
	font-size: 200%;
	cell-spacing:0;
	border: 0 !important;
}

td.dish{
	border: 0;
	padding:0;
}

td#username {
	letter-spacing: -2px;
	
}

td#rank {
	font-family: Impact;
	font-size: 45px;
}

.oddrow {
  background-color: white ;
}
.evenrow {
  background-color: #F0F0F0;
}
th, td {
  border: 2px solid #A00000;
  text-align: center; 
  padding: 10px;
}
th {
  background-color: white;
}
a {
  text-decoration: none;
  color: black; 
}
form[name='register'] {
  margin-left: 45%;
  margin-right: 45%;
}

#contents {
width: 600px;
margin: 8px auto 25px auto;
text-align: center;
padding: 5px 10px 5px 50px;
margin-bottom: 3%;
}	
li.top {
  font-family: Monospace;
  font-size: 25px;
  color: black;
  letter-spacing: -2px;
  display: inline;
  margin-right: 40px;
}